@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
    text-align: center;
    font-family: Poppins, sans-serif;
}
/* 
.container-fluid form {
    cursor: pointer;
    user-select: none;
    border-radius: 7px;

} */

#reader {
    display: none;
}

.img-wrapper img {
    display: none;
    max-height: 400px;
    max-width: 300px;
    object-fit: contain;
}

.bi {
    color: white;
}

.details img {
    max-height: 200px;
    max-width: 200px;
}

.icon-input-btn{
    display: inline-block;
    position: relative;
}
.icon-input-btn input{
    padding-left: 2em;
}
.icon-input-btn .bi{
    display: inline-block;
    position: absolute;
    left: 0.65em;
    top: 15%;
}
