{% extends 'base.html' %}

{% block title %} Proof of Delivery App {% endblock %}

{% block body %}
    <div class="row details">
        <div class="col md-12">
            <div class="d-flex text-left"><h4>Details</h4></div>
            <table class="table table-hover table-striped">
                <tr class="table-primary">
                    <th>ID</th>
                    <th>BUFF</th>
                    <th>Image</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
                {% for row in details %}
                <tr>
                    <td>{{row.id}}</td>
                    <td>{{row.buff}}</td>
                    <td>
                        <img src="./Screenshot_2.jpg" class="img-thumbnail" alt="no-image" srcset="">
                    </td>
                    <td>{{row.date}}</td>
                    <td>
                        <a href="#" class="btn btn-primary btn-xs"><i class="bi bi-download"></i></a>
                        <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </table>


        </div>
    </div>

{% endblock %}